@charset "EUC-KR";

* {
	text-decoration: none;
}
#mem_info, .ddaybutton {
	font-size: 12px;
}
.a, .news_link, .no_title {
	color: #757575;
}
#greeting {
	margin-top: 4px;
}	
.mem_cnt, #d_day, .num, #d_day_title, #d_day_date, #news_cate_but {
	text-align: center;
}
#d_day_title {
	background-color: #269463;
	color: white;
}
.ddaybutton:hover {
	cursor: pointer;
	color: black;
}
.main_button, .ddaybutton {
	background-color: white;
	color: black;
	border: 0px solid #888888;
}
.main_button:hover {
	cursor: pointer;
	background-color: #269463;
	color: white;
}
.a:hover, .news_link:hover {
	cursor: pointer;
	background-color: #cccccc;
	color: black;
}
#stats {
	margin: 200px auto;
	height: auto;
	width: 80%;
	border-collapse: collapse;
}
.news {
	margin: auto;
	height: auto;
	width: 80%;
	border-collapse: collapse;
}
.login_button {
	font-size: 12px;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 1px solid #888888;
	margin: 2px;
}
