{% extends 'layout.html' %}
<meta charset="UTF-8">
{% block content %}

<style>
* {
	text-decoration: none;
	text-align: center;
}
</style>
<link rel="stylesheet" href="css/common.css">
<script type="text/javascript">
	function fn_detail(after_seq) {
		location.href = "after_detail?after_seq=" + after_seq;
	}
	function fn_after_add() {
		location.href = "after_add";
	}
	function fn_search() {
		var search = $('#search').val()
		console.log(search)
		location.href = "after_list?search=" + search;
	}
</script>

<div class="aftermenu_bar">
	<input type="text" id="search" class="search_bar" onkeyup="if(window.event.keyCode==13){fn_search()}"> <input type="button" class="search_button" onclick="fn_search()" value="검색"> <input
		type="button" class="write_button" value="글쓰기" onclick="fn_after_add()">
</div>

<table id="after_list">
	<tr>
		<th>순번</th>
		<th>제목</th>
		<th>첨부파일</th>
		<th>등록일</th>
	</tr>
	{% for idx,s in enumerate(list) %}
	<tr class="after_link">
		<td>{{idx+1}}</td>
		<td><a href="javascript:fn_detail('{{s.after_seq}}')">{{s.after_title}}</a></td> {% if s.attach_file %}
		<td>O</td> {% else %}
		<td>X</td> {% endif %}

		<td>{{s.in_date}}</td>
	</tr>
	{% endfor %}
</table>


{% endblock %}