{% extends 'layout_admin.html' %}
<meta charset="UTF-8">
{% block content %}
<script type="text/javascript">
	function fn_list(){
		location.href="notice_list_admin"
	}
	
	function fn_mod(){
		document.frm.submit();
	}
</script>

<style>
	#notice_mod{
		width : 80%;
		margin: 200px auto 0px;
		border-collapse: collapse;
		border: 1px solid black;
	}
	.notice_text_box {
		width: 92%;
	}
	.notice_set_button {
		font-size: 12px;
		cursor: pointer;
		background-color: #269463;
		color: white;
		border: 1px solid #269463;
	}
</style>

<form name="frm" action="notice_modact" method="post" enctype="multipart/form-data" >
<input type="hidden" name="notice_seq" value="{{notice.notice_seq}}">
 <table id="notice_mod" border="1">
  <tr>
	<th class="notice_title">제목</th>
	<td><input type="text" class="notice_text_box" name="notice_title" value="{{notice.notice_title}}"> </td>
  </tr>
  <tr>
	<th>내용</th>
	<td><textarea name="notice_content" id="notice_content" rows="15" cols="80" value="">{{notice.notice_content}}</textarea> </td>
  </tr>
  <tr>
	<th colspan="2">
	 <input type="button" class="notice_set_button" value="수정완료" onclick="fn_mod()" >
	 <input type="button" class="notice_set_button" value="돌아가기" onclick="fn_list()" >
	</th> 
  </tr>
 </table>
 </form>
 
{% endblock %} 