{% extends 'layout.html' %}
<meta charset="UTF-8">
{% block content %}
<style>
	* {
		text-decoration: none;
	 	text-align: center;
	}
	#check_list {
		margin : 200px auto;
		height: auto;
		width : 80%; 
		border-collapse: collapse;
 	}
 	.check_list:hover {
 		cursor: pointer;
		background-color: #cccccc; 
		color: black;
 	}
 	th, td {
 		padding: 20px;
 	}
	.a, #check_list {
	 	color: #757575;
	}
</style>
<table id="check_list">
	</br></br></br></br></br></br></br>
	</tr>
		<iframe border="2" align= "middle" scrolling = "no" height="640px" width = "850px" src="https://speller.cs.pusan.ac.kr/"></iframe>

	</tr>

</table>

{% endblock %}
