{% extends 'layout.html' %}
<meta charset="UTF-8">
{% block content %}

<link rel="stylesheet" href="css/common.css">
<script type="text/javascript">
	function fn_list(){
		location.href="answer_list"
	}
	function fn_mod(){
		document.frm.submit();
	}
	
</script>

<form name="frm" action="answer_modact" method="post"  enctype="multipart/form-data">
<input type="hidden" name="answer_seq" value="{{answer.answer_seq}}">

 <table id="answer_mod" border='1'>
	<tr>
		<th >제목</th>
		<td><input class="answer_text_box" type="text" name="answer_title" value="{{answer.intrvw_content}}"></td>
	</tr>
	 <tr>
		<th>등록일</th>
		<td> {{answer.in_date}} </td>
	 </tr>
	
	<tr>
		<th>내용</th>
		<td>
			<textarea name="answer_content" rows="15" cols="80">{{answer.answer_content}}</textarea>
		</td>
	</tr>

	<tr>
		<th colspan="2">
		<input type="button" class="answer_set_button" value="목록으로" onclick="fn_list()">
		<input type="button" class="answer_set_button" value="수정완료" onclick="fn_mod()" >
	</tr>
 </table>
</form>
 
{% endblock %} 