{% extends 'layout_admin.html' %}
<meta charset="UTF-8">
{% block content %}
<script type="text/javascript">
	$(document).ready(function() {

	});

	function fn_add() {
		location.href = "notice_add";

	}

	function fn_detail(notice_seq) {
		location.href = "notice_detail_admin?notice_seq=" + notice_seq;
	}
</script>
<style>
	 * {
	 	text-decoration: none;
	 	text-align: center;
	 }
	
	#notice_list {
		margin : 200px auto;
		height: auto;
		width : 80%; 
		border-collapse: collapse;
 	}
 	
 	.notice_link:hover {
 		cursor: pointer;
		background-color: #cccccc; 
		color: black;
 	}
 	
 	th, td {
 		padding: 20px;
 	}

	.a, #notice_list {
	 	color: #757575;
	}
 	
 	.notice_write_button {
	font-size: 12px;
	cursor: pointer;
	background-color: #269463;
	color: white;
	border: 1px solid #269463;
}

</style>
 
<table id="notice_list">
	<tr>
		<td colspan="3" style="text-align: right;">
		<input type="button" id="button_input" class="notice_write_button" value="글쓰기" onclick="fn_add();"></td>
	</tr>
	<tr>
		<th>순번</th>
		<th>제목</th>
		<th>등록일</th>
	</tr>

	{% for s in list %}
	<tr class="notice_link">
		<td>{{s.rnum}}</td>
		<td><a href="javascript:fn_detail('{{s.notice_seq}}')">{{s.notice_title}}</a></td>
		<td>{{s.in_date}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
