 {% extends 'layout_admin.html' %}
<meta charset="UTF-8">
{% block content %}


 <table id="question_list_admin">
  <tr class="tr_height">
	<td colspan="3" id="button_bar">
	</td>
  </tr>

   <tr class="tr_height">
	<th>순번</th>
	<th href="question_detail_admin">제목</th>
	<th>등록일</th>
	<th>등록일</th>
   </tr>
   
   <tr class="tr_height">
	<td>1</td>
	<td ><a href="question_detail_admin">질문있습니다</a></td>
	<td> X </td>
	<td>2021.04.06</td>
   </tr>
   
   <tr class="tr_height">
	<td>2</td>
	<td><a href="question_detail_admin">문의있습니다</a></td>
	<td> X </td>
	<td>2021.04.06</td>
   </tr>
   
   <tr class="tr_height">
	<td>3</td>
	<td><a href="question_detail_admin">질문있습니다</a></td>
	<td> X </td>
	<td>2021.04.06</td>
   </tr>
   
   <tr class="tr_height">
	<td>4</td>
	<td><a href="question_detail_admin">문의있습니다</a></td>
	<td> X </td>
	<td>2021.04.06</td>
   </tr>
   
   <tr class="tr_height">
	<td>5</td>
	<td><a href="question_detail_admin">질문 및 문의 있습니다.</a></td>
	<td> X </td>
	<td>2021.04.06</td>
   </tr>
 </table>
 
{% endblock %} 