{% extends 'layout.html' %}
<meta charset="UTF-8">
{% block content %}
<script type="text/javascript">
	$(document).ready(function() {

	});

</script>
<style>
	 * {
	 	text-decoration: none;
	 	text-align: center;
	 }
	
	#notice_list {
		margin : 200px auto;
		height: auto;
		width : 80%; 
		border-collapse: collapse;
 	}
 	
 	.notice_link:hover {
 		cursor: pointer;
		background-color: #cccccc; 
		color: black;
 	}
 	
 	th, td {
 		padding: 20px;
 	}

	.a, #notice_list {
	 	color: #757575;
	}
 
</style>


<table id="notice_list">
	</br></br></br></br></br></br></br>
	</tr>
		<iframe align= "middle" scrolling = "no" frameborder="0" height="640px" width = "1200px" src="https://speller.cs.pusan.ac.kr/"></iframe>

	</tr>

</table>

{% endblock %}
